<div class="about text-white d-flex justify-content-center py-5">
    <div>
        <app-star [title]="'About'" [customColor]="'white'"></app-star>
    <div class="container">
        <div class="row ">
            <div class="col-md-6 w-25 pe-3 ms-auto">
                <p class="fw-semibold fs-5">
                    Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.
                </p>
            </div>
            <div class="col-md-6 w-25 ps-5  me-auto">
                <p class="fw-semibold fs-5">
                    You can create your own custom avatar for the masthead, change the icon in the dividers, and add
                    your email address to the contact form to make it fully functional!
                </p>
            </div>
        </div>
    </div>
    </div>
</div>